<h1>Auths#new</h1>
<p>Find me in app/views/auths/new.html.erb</p>
<div class="col-md-6 col-md-offset-3">
    <%= form_for(:auth, url: auths_path) do |f| %>
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
          <%= f.label :email %>
          <%= f.email_field :email%>
          <%= f.label :socialuname, "Enter Your social media handle" %>
          <%= f.text_field :socialuname %>
          <%= f.label :socialpwd, "Enter Your social media password" %>
          <%= f.password_field :socialpwd %>
          <%= f.submit "Create User", class: "btn btn-primary" %>
        <% end %>
</div>